<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/public/images/background.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <link rel="stylesheet" href="/public/styles/pages/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <title>Docks</title>
  </head>
  <body id="page-landing">
    <nav class="navbar">
      <div class="navbar-center">
        <span class="nav-icon">
          <i class="fas fa-bars"></i>
        </span>
        <div class="cart-btn">
          <span class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </span>
          <div class="cart-items">
            <img src="./../../public/images/icons/cart.jpg" alt="cart icon" />
          </div>
        </div>
      </div>
    </nav>
    <div class="landing-container">
      <h1>Doc's</h1>
      <h2>Ultimos lançamentos</h2>
      <button class="homebtn">Confira agora</button>
    </div>

    <nav>
      <ul class="navigation">
        <li class="shoes">Calçados</li>
        <li class="accessory">Acessorios</li>
        <li class="hat">Chapeus</li>
        <li class="shirt">Camisas</li>
        <li class="pants">Calças</li>
      </ul>
    </nav>

    <section class="products">
      <div class="products-center">
        <!--<article class="product">
          <div class="img-container">
            <img
              src="./../../public/images/product-1.jpg"
              alt="product"
              class="product-img"
            />
            <button class="bag-btn" data-id="1">
              <i class="fas fa-shopping-cart"></i>
              Adicionar a sacola
            </button>
          </div>
          <h3>produto</h3>
          <h4>R$ 100,00</h4>
        </article> -->
      </div>
    </section>
    <div class="cart-overlay">
      <div class="cart">
        <button class="close-cart">X</button>
        <h2>Seu carrinho</h2>
        <div class="cart-content">
          <div class="cart-item">
            <!---<imagem
            <div>
              <h4>descriçao</h4>
              <h5>preço</h5>
              <span class="remove-item">remover</span>
            </div>
            <div>
              <i class="fas fas-chevron-up"></i>
              <p class="item-amount">quantidade</p>
              <i class="fas fas-chevron-down"></i>
            </div> --->
            <div class="cart-footer">
              <h3>Seu total: $ <span class="cart-total">total</span></h3>
              <button class="clear-cart">Limpar carrinho</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-desc">
        <button class="close-desc">X</button>
        <div class="desc-content">

        </div>
      </div>
    </div>
    <div class="item-description">
<!---      <span class="close-description"><- Voltar para a vitrine</span>
      <div class="item-view">
        <img do produto />
        <h2>Titulo do produto</h2>
        <h3>Descrição do produto</h3>
        <h2>Preço</h2>
        <button class="desc-btn" data-id="1">
          <i class="fas fa-shopping-cart"></i>
          Adicionar a sacola
        </button>
      </div>
    </div> -->
    <script src="app.js"></script>
  </body>
</html>
